<%- include("../partials/header.ejs") %>

<div class="container">
	<div class="row">
		<div id="list" class="col-md-9">
			<div class="card">
                <img class="card-img-top" src="<%= blog.image %>">
                <div class="card-body">
                    <strong><h1 class="card-title"><%= blog.name %></h1></strong>
                    <p class="card-text"><%= blog.description %></p>
					<p class="card-text"><em>~ Submitted by <%= blog.author.username %></em></p>
					<% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
					<a class="btn btn-xs btn-outline-warning" href="/blogs/<%=blog._id%>/edit">Edit</a>
					<form class="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-outline-danger">Delete</button>
					</form>
					<% } %>
                </div>
            </div>
            <div class="card custom-card border-0">
				<h2 class="text-center">Comments</h2>
                <span class="text-right">
                    <a class="btn btn-outline-success mt-2 mr-3" href="/blogs/<%=blog._id%>/comments/new">Add New Comment</a>
                </span>
                <hr>
				<% blog.comments.forEach(function(comment){ %>
                <div id="allComments" class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="float-right">10 days ago</span>
                        <p><%= comment.text %> </p>
						<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
							<a class="btn btn-xs btn-outline-warning" href="/blogs/<%=blog._id%>/comments/<%= comment._id %>/edit">Edit</a>
							<form class="delete-form" action="/blogs/<%=blog._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-outline-danger">Delete</button>
							</form>
						<% } %>
                    </div>
                </div>
                <% }) %>
			</div>
		</div>
		<div id="list" class="col-md-3">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<p class="lead">Recent Posts</p>
				</div>
				<ul class="list-group list-group-flush">
					<% blogs.forEach(function(blog){ %>
					<li class="list-group-item"><a href="/blogs/<%=blog._id %>"><%=blog.name%></a></li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer.ejs") %>